
/* Retira o espaço vazio da página inteira */
body{
margin:0;	
}

/* Barra do canto extremo superior */
.barra-superior{
display: block;
position:fixed;
overflow: visible;
/*background-color: rgba(0,0,0,1);*/
width: 100%;
/*height: 70px; */
z-index: 3;
padding: 0px 0px 0px 0px;
text-align: center; 
/*border: 1px solid black; */
box-shadow: -5px 3px 15px 2px rgba(0,0,0,0.5);
}

/* Barra acima do menu */
.menu-top{
	display: block;
	position: relative;
	height: 80px;
	background-color: rgba(20, 17, 16,0.97);
	width: 100%;

}

/* Logotipo no menu superior */
#logo{
	display: inline-block;
	position: relative;
	/*width: 230px;*/
	height: 80px;
	margin: auto;
	/*margin-left: 20px;*/
	/*background-color: #eaa;*/
	/*border: 1px solid white;*/
	opacity: 100%;
	z-index: 2;
}


/* Menu */
.menu{
	display: block;
	position: relative;
	/*height: 100px; */
	/*background-color: blue;*/
	width: 100%;
}

/* Tópicos do menu */
.menu-topics{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
	overflow: hidden;
	background-color: rgba(56, 47, 44,1);
	border-bottom: 3px solid rgba(20, 17, 16,1);
}

/* Lista de opções do menu superior */
.menu-topics li{
	float: left;
}

/* Opções do menu superior */
.menu-topics li a{
	display: inline-block;
	color: white;
	text-align: center;
	font-family: Verdana,Arial,serif;
	/*Lucida Calligraphy*/
	font-size: 14px;
	font-weight: none; 
	text-decoration: none;
	padding: 10px;
	/*background-color: rgba(224,160,160,0.5);*/
	transition: 0.2s;
}
.menu-topics li a:hover{
	background-color: rgba(20, 20, 20,0.4);
}

/* Ícone de seta para baixo */
.expand-down-icon{
	display: inline-block;
	position: relative;
	background-image: url('../Imagens/Seta pra baixo (icone).png');
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-color: green;*/
	width: 10px;
	height: 7px;
	opacity: 80%;
}

/* Espaçamento oculto superior */
.ghost-top{
	width:100%;
	display: block;
	position: relative;
	background-color: black;
	opacity: 0%;
	height: 120px;
}

/* propagandas do canto superior */
.propagandas-parallax{
	display: block;
	margin: auto;
	width: 100%;
	position: relative;
	height: 650px;
	background-color: black;
	background-image: url('../Imagens/café propaganda.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-attachment: fixed; */
}

/* Espaçamento entre caixas com margem "auto" */
.ghost-space{
	width:100%;
	display: block;
	position: relative;
	background-color: black;
	opacity: 0%;
	height: 70px;
}

.categoria-titulo{
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 50px; 
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 1.4em;
	color: rgba(56, 45, 30,0.9);
}

/* Container do corpo central */
.container-meio{
	display: block;
	margin: auto;
	position: relative;
	background-color: rgba(235, 223, 221,0);
	/*border: 1px solid grey;*/
	width: 100%;
	text-align: center;
	border-top: 1px solid #bbb;
}

/* Caixa de produto */
.caixa-prod{
	display: inline-block;
	position: relative;
	top: 0px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 50px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	background-color: #eae3da;
	width: 220px;
	min-height: 230px;
	box-sizing: border-box;
	border-left: 1px solid #ddd;
	font-family: Arial, sans-serif;
	transition: 0.2s;
	-webkit- transition: 0.2s;
}

/* Caixa de produto ao passar o mouse por cima */
/*
.caixa-prod:hover{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(122, 91, 49, 0.19);
}*/

/* Fundo dentro da caixa de produto */
.fundo-branco{
	display: block;
	position: absolute;
	width: 100%;
	height: 180px;
	margin: auto;
	background-color: white;
}

/* Caixa de produto ao passar o mouse por cima */
.inten-prod{
	display: block;
	position: absolute;
	box-sizing: border-box;
	top: -30px;
	left: -14px;
	margin: 0px;
	padding: 7px;
	border-radius: 20px;
	font-family: Lucida Handwriting, Verdana, Arial, sans-serif;
	font-size: 13px;
	/*font-style: italic;
	font-weight: bold;*/
	color: rgba(255,255,255,0.95);
	background-color: #c7654a;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);	
}
/* Imagem de produto */
.imagem-prod{
	display: block;
	position: relative;
	width: 70%;
	height: 150px;
	margin: auto;
	margin-top: 8px;
}

/* Nome do produto */
.nome-prod{
	position: relative;
	width: 100%;
	margin-top: 27px;
	font-size: 18px;
	text-align: center;
	font-family: Arial, sans-serif;
	color: #111;
}

/* Descrição do produto */
.descr-prod{
	position: relative;
	width: 100%;
	margin-top: 3px;
	font-size: 15px;
	text-align: center;
	font-family: Arial, sans-serif;
	color: #111; 
}

/* Preço do produto */
.preco-prod{
	position: relative;
	width: 100%;
	margin-top: 6px;
	font-size: 23px;
	text-align: center;
	font-family: Arial, sans-serif;
	color: #111;
}


/* Botão do carrinho no produto */
.carrinho-prod{
	text-align: center;
	text-decoration: none;
	margin-top: 10px;
	display: block;
	position: relative;
	background-color: #9f5441;
	background-image: URL('../Imagens/carrinho.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 20px 20px;
	padding: 15px;
	transition: 0.2s;
	color: rgba(0,0,0,0);
}

.carrinho-prod:hover{
	background-position: 110% 50%;
	color: rgba(255,255,255,1);
}

/* Link no rodapé (Voltar ao Início) */
.link-fundo{
	display: block;
	position: relative;
	background-color: #67534c;
	color: white;
	text-align: center;
	font-family: Verdana,Arial,serif;
	/*Lucida Calligraphy*/
	font-size: 14px;
	font-weight: none; 
	text-decoration: none;
	padding: 10px;
	box-shadow: -5px 3px 15px 2px rgba(0,0,0,0.5);
	transition: 0.2s;
}

.link-fundo:hover{
	background-color: #9f5441;
}

/* Container do rodapé */
.container-fundo{
	display: block;
	position: relative;
	background-color: rgba(56, 47, 44,1);
	padding: 30px;
	text-align: center;
}

/* Espaço lateral do rodapé */
.fundo-space{
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	margin:auto;
	/*background-color: rgba(200, 47, 44,1);*/
	width: 10%;
	height:10px;
	text-align: center;
}

/* Texto do rodapé */
.fundo-texto{
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	margin:auto;
	/*background-color: rgba(200, 47, 200,1);*/
	
	text-align: center;
	padding: 0px 5px 10px 5px;
}

/* Títulos e opções do rodapé */
.fundo-link-titulo, .fundo-link{
	display:block;
	position: relative;
	text-align: center;
	margin-bottom: 15px;
	color: white;
	text-align: center;
	font-family: Arial,serif;
	font-size: 13px;
	/*Lucida Calligraphy*/ 
	text-decoration: none;
}

.fundo-link-titulo{	
	font-weight: bold; 
}

.fundo-link{
	font-weight: none; 
}

.fundo-link:hover{
	text-decoration: underline; 
}

/* Container do fundo do rodapé */
.container-fundo-fundo{
	display: block;
	position: relative;
	background-color: rgba(31, 27, 26,1);
	padding: 100px;
	text-align: center;
}
